# Ignore node_modules (frontend)
node_modules/

# Ignore build output (frontend and backend)
dist/
dist-ssr/

# Ignore logs
*.log
npm-debug.log*

pnpm-debug.log*
lerna-debug.log*

# Ignore local config files for IDEs and OS
.vscode/*
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# Không bỏ qua file .env (giúp commit lên GitHub)
!.env